<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Управление отображением элементов</title>

</head>
<body>

<div id="app">
    <h2 v-if="isVisible">I am visible!</h2>
    <h2 v-else>No I am not</h2>
    <br>
    <button @click="isVisible = !isVisible">Toggle</button>
    <br>
    <hr>
    <br>
    <h2 v-if="type === 'a'">A</h2>
    <h2 v-else-if="type === 'b'">B</h2>
    <h2 v-else-if="type === 'c'">C</h2>
    <h2 v-else >not match</h2>
    <hr>
    <input type="text" v-model="type">
    <br>
    <hr>
    <br>

    <template v-if="isVisible">
        <h2>i am title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad asperiores atque ducimus eius eligendi, excepturi fugiat fugit incidunt iusto libero molestiae molestias odio omnis provident quaerat quas saepe sed ut?</p>
    </template>
    <template v-else>
        <h2 style="color: red">i am title</h2>
        <p style="color: blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad asperiores atque ducimus eius eligendi, excepturi fugiat fugit incidunt iusto libero molestiae molestias odio omnis provident quaerat quas saepe sed ut?</p>
    </template>


</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script>

    new Vue({
        el: '#app',
        data: {
            isVisible: true,
            type: 'a'
        },
        computed: {

        },
        methods: {

        }
    })

</script>
</body>
</html>